.DS_Store
lvim/.config/lvim/plugin/packer_compiled.lua
nvim/.config/nvim/node_modules
nvim/.config/nvim/yarn.lock
nvim/.config/nvim/plugin/packer_compiled.lua
lvim/.config/lvim/lazy-lock.json
nvim/.config/nvim/lazy-lock.json
zsh/.config/zsh/vpn-aliases.zsh
zsh/.config/zsh/secret-exports.zsh
